.sidebar {
  width: 250px;
  height: 100%;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-right: 1px solid var(--border-color);
  z-index: 100;
}

.sidebar-section {
  margin-bottom: 1.5rem;
}

.sidebar-section-title {
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.sidebar-menu-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.sidebar-menu-item:hover {
  background-color: var(--hover-color);
}

.togel-sidbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
    margin: 0;
    padding: 10px;
    gap: 10px;
  }

  .sidebar {
    height: auto;
    width: 100%;
    min-height: 50px;
    display: block;
    position: sticky;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
  }

  .togel-sidbar {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ;
  }

  .sidebar .sidebar-section {
    display: none;
    transition: background-color 0.3s ease;
    margin-bottom: 1.5rem;
  }

  .sidebar .togel-sidbar button {
    width: max-content;
    height: max-content;
    color: var(--text-secondary);
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
  }

  .togel-sidbar button:hover {
    box-shadow: 0 0 5px 0 #3d3d3da9;
  }

  .togel-sidbar button span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .togel-sidbar button span img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}